/* Messages */

.message-container {
    display: flex;
    height: 60px;
    align-items: center;
    font-size: 16px;
}

.user-photo {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center center;
    border-radius: 25px;
    min-width: 50px;
    margin-left: 5px;
    border-width: 1px;
    border-style: solid;
}

.username {
    padding-left: 5px; 
    padding-right: 5px;
}

.message-text {
    overflow: hidden;
    word-wrap: break-word;
}